<div class="container" style="padding-top:80px">
    <div class="panel panel-primary">
        <div class="panel-heading" style="padding-top:10px; overflow:auto">Product List</div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-lg-6">Filtered By:</div>
                    <div class="col-lg-6">
                      <input type="text">
                  </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
        <h1>Product List is:</h1>
        <div class="table table-bordered" style="width:100%; height:50px;border:5px;padding-top:25px;border-collapse: collapse">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product name</th>
                    <th>Product desc</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12</td>
                    <td>Clamp </td>
                    <td>Workbench clamp </td>
                    <td>12</td>
                </tr>
                <tr>
                        <td>50</td>
                        <td>Screwdriver</td>
                        <td>Flat head</td>
                        <td>10</td>
                </tr>
                <tr>
                        <td>150</td>
                        <td>TireBar</td>
                        <td></td>
                        <td>100</td>
                </tr>
            </tbody>
        </div>

    </div>
